body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
}
.form-container input[type="text"], 
.form-container textarea, 
.form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.form-container button:hover {
    background-color: #45a049;
}
.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .logo{
    cursor: pointer;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links li a:hover{
    color: #e2f1f8 ;
}

.btn-sesion .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    height:35px;
    margin-top: 5px;
    width: 100%;
    
}

@media (max-width: 600px){
    .btn-sesion .btn button{
        font-size: 10px;
    } 
}

.btn-sesion .btn button:hover{
    transform: scale(1.05);
    background-color: #e2f1f8;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

  /*Estilos para los botones dentro del modal */
.modal-content button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    }

.modal-content button:last-child:hover {
    margin-bottom: 0;
    }